/***/
.check-terms-and-conditions {
  padding: 10px;
  border-radius: 0.25rem;
}

.container-check-terms {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  color: #3d3d3d;
  font-weight: 600 !important;
  font-size: 12.5px !important;
  line-height: 1.3rem !important;
}
.container-check-terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #565656;
  transform: translateY(-50%);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container-check-terms input.active ~ .checkmark:after {
  display: block;
}

.container-check-terms .checkmark:after {
  left: 3px;
  top: 0px;
  /*   width: 3px;
    height: 6px;*/
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.deactivated-buy-btn {
  opacity: 0.5 !important;
}
/*
@media (max-width: 40em) {
  .checkout-terms-conditions {
    margin-top: 80px;
  }

  .cart-template.full-cart {
    grid-template-rows: var(--rows-full-cart) min-content;
  }

  .body-order-form {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    min-height: unset !important;
    line-height: normal !important;
  }
  .payment-confirmation-wrap {
    margin-bottom: 100px;
  }

  .check-terms-and-conditions {
    background-color: #f8f8f8;
  }
}*/

/*body:after {
  content: "";
  display: table;
  clear: both;
}

.cart-select-gift-placeholder::after {
  content: "";
  display: table;
  clear: both;
}

.checkout-container.row-fluid.cart-active::after {
  content: "";
  display: table;
  clear: both;
}
*/
/*.checkout-andina{
  display: block !important;
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
}

*/

.alert-danger-checkbox {
  /* color: #a94442; */
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success-checkbox {
  /* color: #155724; */
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* .check-terms-and-conditions.alert-danger-checkbox > label {
  color: #a94442;
} */

.check-terms-and-conditions.alert-danger-checkbox > label > a {
  /* color: #a94442; */
  text-decoration: underline;
}

#boxcheckterms-two {
  margin-top: 1.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .checkout-andina {
    display: block;
  }
  #boxcheckterms-one {
    width: 90%;
    margin: 0 auto;
  }
  #payment-data-submit {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 540px) and (min-width: 320px) {
  #payment-data .steps-view {
    width: 100%;
  }
  #boxcheckterms-one {
    width: 90%;
    margin: 0 auto;
  }
  .checkout-container {
    overflow: unset;
  }
  .checkout-terms-conditions {
    display: none;
  }
  .checkout-andina {
    display: none;
  }
}

#boxcheckterms-one {
  /* display: none !important; */
}

/***/
/* The Modal (background) */
/* The Modal (background) */
.modal-terms {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  /*padding-top: 100px;*/
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /*background-color: rgb(0, 0, 0);*/
  /* Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4);*/
  /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-terms__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 1020px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.modal-terms__close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.modal-terms__close:hover,
.modal-terms__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-terms__header {
  padding: 2px 16px;
  background-color: #ec651f;
  color: white;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.modal-terms__body {
  padding: 1rem 2rem;
  max-height: 300px;
  overflow-y: scroll;
}

.modal-terms__body h6 {
  text-transform: uppercase;
}

.modal-terms__footer {
  padding: 2px 16px;
  background-color: #ec651f;
  color: #fff;
}

.modal-terms__title {
  font-size: 14px;
}

.collapsible-terms {
  background-color: #ec651f;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active-terms,
.collapsible-terms:hover {
  background-color: #ec651f;
}

.content-terms {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.vtexIdUI .modal-header .close {
  display: none;
}

.close.vtexIdUI-close {
  display: none;
}

.link-modal {
  cursor: pointer;
}

.link-terms-and-conditions {
  font-size: 12px;
  padding: 10px;
  font-weight: 700;
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}

.link-modal-terms-and-conditions {
  text-decoration: underline;
  cursor: pointer;
}

#payment-group-webpayPaymentGroup {
  display: none !important;
}

.v-custom-payment-item-wrap {
  border: none !important;
}
