:root {
  --brand-color-primary: #1b3747;
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-font-color-secondary: #585858;
  --brand-background-aside-mob: #f8f8f8;
  --brand-background-primary: linear-gradient(90deg, #fff 65%, #f8f8f8 0, #f8f8f8);
  --brand-aside-size: 21vw;
  --brand-container-size: 75vw;
  --brand-width-modal: 45%;
  --f10: 0.625rem;
  --f12: 0.75rem;
  --f14: 0.875rem;
  --f16: 1rem;
  --f18: 1.125rem;
  --f20: 1.25rem;
  --f22: 1.375rem;
  --f24: 1.5rem;
  --f26: 1.625rem;
  --f28: 1.75rem;
  --f30: 1.875rem;
}
.ContainerNew {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .ContainerNew {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .ContainerNew {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .ContainerNew {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .ContainerNew {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .ContainerNew {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  .ContainerNew {
    max-width: 1440px;
  }
}

.ListItems {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
}

.Item {
  color: red;
}

.Item:hover .BoxItemNavbar {
  display: block;
  opacity: 1 !important;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
}

.ItemCategoryMain {
  padding: 5px 12px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
}

.BoxItemNavbar {
  position: absolute;
  background: var(--brand-color-white);
  width: 100%;
  left: 0;
  z-index: 2000;
  padding: 2rem 0;
  border-bottom: 8px solid #ffd800;
  display: none;
  opacity: 0;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
}

.BoxItemNavbar:before {
  background-position: 50%;
  background-size: 750px;
  background-image: url('https://orizonb2ccl.vteximg.com.br/arquivos/pattern-home-2022.svg');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 0;
  content: '';
  opacity: 0.07;
  pointer-events: none;
  z-index: -1020 !important;
}

.NavegationMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  text-align: center;
  list-style-type: none;
}

.ItemParent {
  font-size: 1rem;
  text-transform: uppercase;
  /* -webkit-box-shadow: 0px 2px 0px 0px #1b3747; */
  /* box-shadow: 0px 2px 0px 0px #ffd800; */
  padding-bottom: 2px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: var(--f16);
  text-transform: uppercase;
  box-shadow: 0px 2px 0px 0px #009eb1;
  -webkit-box-shadow: 0px 2px 0px 0px #009eb1;
}
.ListChild {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.ItemChild {
  font-weight: 700;
  color: #333;
  font-size: 0.875rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.ListChild li:last-child .ItemChild {
  text-decoration: underline;
}

/* .Item::hover .BoxItemNavbar {
  display: block;
  opacity: 1;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
} */
.ItemCyberHighlight {
  background-color: #ffff;
  border-radius: 5px;
  color: #340170;
  /* color: #ae00b8; */
  font-weight: 700;
  letter-spacing: 1px;
}

.ItemOffersHighlight {
  background-color: #ffff;
  border-radius: 5px;
  color: #d40000 !important;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (min-width: 1026px) and (max-width: 1100px) {
  .ItemCategoryMain {
    font-size: 11px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .ItemCategoryMain {
    font-size: 13px !important;
  }
}
