@font-face {
  font-family: 'TT Hoves';
  src: url('assets/fonts/TTHoves-Regular.woff2') format('woff2'), url('assets/fonts/TTHoves-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('assets/fonts/TTHoves-Medium.woff2') format('woff2'), url('assets/fonts/TTHoves-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('assets/fonts/TTHoves-Bold.woff2') format('woff2'), url('assets/fonts/TTHoves-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "TT Hoves";
  src: url("assets/fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves";
  src: url("assets/fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves";
  src: url("assets/fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
